<section class="login_area p_100">
  <div class="container">
    <div class="login_inner loginpageout">
      <div class="row">
        <div class="col-lg-12">
          <div class="login_title">
            <h2 class="mb-0">log in your account</h2>
            <p>Log in to your account to discovery all great features.</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)"  class="login_form row">
            <div class="col-lg-12 form-group">
              <input matInput placeholder="Email address" class="w-100" type="email" required formControlName="email" />
              <!-- Email Validation -->
              <mat-hint class="text-danger" *ngIf="loginForm.controls['email'].touched">
                                <span *ngIf="loginForm.controls['email'].errors?.required">
                  This field is required!
                </span>
                <span *ngIf="loginForm.controls['email'].errors?.pattern">
                  Invalid Email
                </span>
              </mat-hint>
            </div>
            <div class="col-lg-12 form-group">
              <input matInput placeholder="Password" class="w-100" type="password" required formControlName="password" />
              <!-- Password Validation -->
              <mat-hint class="text-danger" *ngIf="loginForm.controls['password'].touched">
                                <span *ngIf="loginForm.controls['password'].errors?.required">
                  This field is required!
                </span>
                <span *ngIf="loginForm.controls['password'].errors?.minlength">
                  Please enter at least 6 characters
                </span>
              </mat-hint>
            </div>
            <div class="col-lg-6 mb-0 form-group">
              <h5 style="font-weight: 500;
    line-height: 1.2; font-size: 1.25rem;"><a href="auth/register" style="font-size: 14px; letter-spacing: 0.5px;"> New account</a></h5>
            </div>
            <div class="col-lg-6 mb-0 form-group">
              <h4><a href="forget-password.php"> Forgot your password ?</a></h4>
            </div>

            <div class="col-lg-12 mb-0 mt-0 form-group mt-0">
              <button type="submit" value="submit" class="btn update_btn form-control" style="background-color: #d91522;
    color: #fff;" [disabled]="loginForm.invalid">Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</section>

