<section class="home_sidebar">
    <section class="home_sidebar_area">
        <div class="container">
            <div class="row row_disable">
                <div class="col-lg-9 float-md-right">
                    <div class="sidebar_main_content_area">
                        <div class="advanced_search_area">
                            <select class="selectpicker">
                <option>Search in events</option>
                <option>All Categories</option>
                <option>All Categories</option>
              </select>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Search" />
                                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">
                    <i class="icon-magnifier icons"></i>
                  </button>
                </span>
                            </div>
                        </div>
                        <div class="main_slider_area">
                            <div id="home_box_slider" class="rev_slider" data-version="5.3.1.6">
                                <ul>
                                    <li data-index="rs-1587" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="./assets/img/home-slider/slider-1.jpg" data-rotate="0"
                                        data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/img/home-slider/select4.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina />

                                        <!-- LAYER NR. 1 -->
                                        <div class="slider_text_box first_text">
                                            <div class="tp-caption tp-resizeme first_text" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top','top','top']" data-voffset="['70','70','70','70','70','70']" data-fontsize="['48','48','48','48','48','48']"
                                                data-lineheight="['56','56','56','56','56','48']" data-width="['none','none','none','none','none']" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                Choose your<br /> gifts
                                            </div>

                                            <div class="tp-caption tp-resizeme secand_text" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top']" data-voffset="['190','190','190','190','190','190']" data-fontsize="['14','14','14','14','14','14']"
                                                data-lineheight="['24','24','24','24','24']" data-width="['300','300','300','300','300']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                There is no one who loves to be bread, who looks after it and wants to have it, simply because it is pain.
                                            </div>

                                            <div class="tp-caption tp-resizeme third_btn" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top']" data-voffset="['290','290','290','290','290','290']" data-width="none"
                                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                <a class="checkout_btn" href="#">shop now</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li data-index="rs-1588" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="./assets/img/home-slider/slider-2.jpg" data-rotate="0"
                                        data-saveperformance="off" data-title="Creative" data-param1="01" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="./assets/img/home-slider/select1.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina />
                                        <!-- LAYERS -->
                                        <!-- LAYERS -->

                                        <!-- LAYER NR. 1 -->
                                        <div class="slider_text_box first_text">
                                            <div class="tp-caption tp-resizeme first_text" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top','top','top']" data-voffset="['70','70','70','70','70','70']" data-fontsize="['48','48','48','48','48','48']"
                                                data-lineheight="['56','56','56','56','56','48']" data-width="['none','none','none','none','none']" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                Best Winter <br /> Collection
                                            </div>

                                            <div class="tp-caption tp-resizeme secand_text" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top']" data-voffset="['190','190','190','190','190','190']" data-fontsize="['14','14','14','14','14','14']"
                                                data-lineheight="['24','24','24','24','24']" data-width="['300','300','300','300','300']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-transform_idle="o:1;" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                There is no one who loves to be bread, who looks after it and wants to have it, simply because it is pain.
                                            </div>

                                            <div class="tp-caption tp-resizeme third_btn" data-x="['left','left','left','left','left','left']" data-hoffset="['60','60','60','60','20','0']" data-y="['top','top','top','top']" data-voffset="['290','290','290','290','290','290']" data-width="none"
                                                data-height="none" data-whitespace="nowrap" data-type="text" data-responsive_offset="on" data-frames='[{"delay":10,"speed":1500,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                                                data-textAlign="['left','left','left','left','left','left']">
                                                <a class="checkout_btn" href="#">shop now</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="promotion_area">
                            <div class="feature_inner row m0">
                                <div class="left_promotion">
                                    <div class="f_add_item">
                                        <div class="f_add_img">
                                            <img class="img-fluid" src="./assets/img/feature-add/img-1.jpg" alt="" />
                                        </div>
                                        <div class="f_add_hover">
                                            <div class="sale">Comming</div>
                                            <h4>Aya & Mohamed <br />Engagement</h4>
                                            <a class="add_btn" href="#">View gifts<i class="arrow_right"></i
                      ></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="right_promotion">
                                    <div class="f_add_item right_dir">
                                        <div class="f_add_img">
                                            <img class="img-fluid" src="./assets/img/feature-add/img-2.jpg" alt="" />
                                        </div>
                                        <div class="f_add_hover">
                                            <div class="off">Two days left</div>
                                            <h4>Ramy<br />Birthday</h4>
                                            <a class="add_btn" href="#">View gifts <i class="arrow_right"></i
                      ></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <section class="aboutcardgift">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="./assets/img/aboutus.png" class="img-responsive" />
                                    </div>
                                    <div class="col-sm-8">
                                        <h2>About Gift shop</h2>
                                        <p>
                                            He brings you gifts that do not fit your needs, and you wish your friends and family would bring you other gifts? When your friends celebrate and you wish to bring useful gifts for them?
                                        </p>
                                        <p>
                                            We have given you the solution. With Gift Shop, you can now say about your occasion and write gifts that you wish your friends would bring. You can also see your friends' occasions and buy the appropriate gifts for them.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="fillter_latest_product">
                            <div class="container">
                                <div class="single_c_title">
                                    <h2>Our Latest Events</h2>
                                </div>
                                <div class="fillter_l_p_inner">
                                    <ul class="fillter_l_p">
                                        <li class="active" data-filter="*"><a href="#">All</a></li>
                                        <li data-filter=".woman"><a href="#">Aya's wedding</a></li>
                                        <li data-filter=".acc"><a href="#">Ali's new job</a></li>
                                        <li data-filter=".shoes">
                                            <a href="#">Reem's Graduation</a>
                                        </li>
                                        <li data-filter=".bags">
                                            <a href="#">Ahmed's birthday</a>
                                        </li>
                                    </ul>
                                    <div class="row isotope_l_p_inner">
                                        <div class="col-lg-4 col-md-4 col-sm-6 woman">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-1.jpg" alt="" />
                                                        <h5 class="done">Done</h5>
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <!-- <li class="p_icon"><a href="#"><i class="icon_piechart"></i></a></li> -->
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                        <!-- <li class="p_icon"><a href="#"><i class="icon_heart_alt"></i></a></li> -->
                                                    </ul>
                                                    <h4>Sweet pants</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 acc shoes">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-2.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Backpack</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 woman shoes">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-3.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Dress</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 woman shoes">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-4.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Sneaker</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 woman shoes">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-5.jpg" alt="" />
                                                        <h5 class="done">Done</h5>
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Chemise</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 acc shoes">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-6.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Shoes</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 acc bags">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-7.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Watch</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 acc bags">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/l-product-8.jpg" alt="" />
                                                        <h5 class="done">Done</h5>
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Casual shirt</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-6 acc bags">
                                            <div class="l_product_item">
                                                <div class="l_p_img">
                                                    <a href="#">
                                                        <img class="img-fluid" src="./assets/img/product/fillter-product/f-product-9.jpg" alt="" />
                                                    </a>
                                                </div>
                                                <div class="l_p_text">
                                                    <ul>
                                                        <li>
                                                            <a class="add_cart_btn" href="#">Buy Now</a>
                                                        </li>
                                                        <li>
                                                            <a class="add_card_btn" href="#">Make a card</a>
                                                        </li>
                                                    </ul>
                                                    <h4>Headphone</h4>
                                                    <h5>$40</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="home_sidebar_blog">
                            <h3 class="single_title privateevent">Private events</h3>
                            <p class="enterpassword">
                                You should enter password to unlock this event
                            </p>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <a href="event-details.php">
                                            <img class="img-fluid" src="./assets/img/blog/from-blog/f-blog-4r.jpg" alt="" />
                                            <div class="f_blog_text">
                                                <h5><i class="fa fa-lock"></i> Birthday</h5>
                                                <p>Salma's birthday</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <a href="#">
                                            <img class="img-fluid" src="./assets/img/blog/from-blog/f-blog-6r.jpg" alt="" />
                                            <div class="f_blog_text">
                                                <h5><i class="fa fa-lock"></i> Graduation</h5>
                                                <div class="hiddenpass">
                                                    <input class="form-control" type="password" placeholder="Password" />
                                                </div>
                                                <p>Finally, I became an engineer</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <a href="event-details.php">
                                            <img class="img-fluid" src="./assets/img/blog/from-blog/f-blog-5r.jpg" alt="" />
                                            <div class="f_blog_text">
                                                <h5><i class="fa fa-lock"></i> New baby</h5>
                                                <p>Malek is here</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 float-md-right">
                    <div class="left_sidebar_area">
                        <aside class="l_widget l_categories_widget">
                            <div class="l_title">
                                <h3>All events</h3>
                            </div>
                            <ul>
                                <li><a href="#">Wedding</a></li>
                                <li><a href="#">Engagement</a></li>
                                <li><a href="#">New baby</a></li>
                                <li><a href="#">Birthday</a></li>
                                <li><a href="#">Graduation</a></li>
                                <li><a href="#">Mother's day</a></li>
                                <li><a href="#">New job</a></li>
                                <li><a href="#">Other</a></li>
                            </ul>
                        </aside>
                        <aside class="l_widget l_supper_widget">
                            <img class="img-fluid" src="./assets/img/banner1.jpg" alt="" />
                            <h4>All the gifts you want</h4>
                        </aside>
                        <aside class="l_widget l_feature_widget">
                            <div class="verticalCarousel">
                                <div class="verticalCarouselHeader">
                                    <div class="float-md-left">
                                        <h3>Completed gifts</h3>
                                    </div>
                                    <div class="float-md-right">
                                        <a href="#" class="vc_goUp"><i class="arrow_carrot-left"></i
                    ></a>
                                        <a href="#" class="vc_goDown"><i class="arrow_carrot-right"></i
                    ></a>
                                    </div>
                                </div>
                                <ul class="verticalCarouselGroup vc_list">
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-1.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Oxford Shirt</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-2.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Puffer Jacket</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Leather Bag</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-4.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Casual Shoes</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-1.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Oxford Shirt</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="./assets/img/product/featured-product/f-p-2.jpg" alt="" />
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Puffer Jacket</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-3.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Leather Bag</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <div class="d-flex">
                                                <a href="#">
                                                    <img src="./assets/img/product/featured-product/f-p-4.jpg" alt="" />
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="#">
                                                    <h4>Casual Shoes</h4>
                                                    <h5>$45.05</h5>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <aside class="l_widget l_news_widget">
                            <h3>newsletter</h3>
                            <p>Sign up for our Newsletter !</p>
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="yourmail@domain.com" aria-label="Search for..." />
                                <span class="input-group-btn">
                  <button class="btn btn-secondary subs_btn" type="button">
                    Subscribe
                  </button>
                </span>
                            </div>
                        </aside>
                        <aside class="l_widget l_hot_widget">
                            <h3>Add your events</h3>
                            <p>
                                Now you can choose the gifts you like and let your friends bring them to you
                            </p>
                            <a class="discover_btn" href="#">Add event now</a>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="world_service">
        <div class="container">
            <div class="world_service_inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="world_service_item">
                            <h4>
                                <img src="./assets/img/icon/world-icon-1.png" alt="" />Special Service
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="world_service_item">
                            <h4>
                                <img src="./assets/img/icon/world-icon-2.png" alt="" />247 Help Center
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="world_service_item">
                            <h4>
                                <img src="./assets/img/icon/world-icon-3.png" alt="" />Safe Payment
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="world_service_item">
                            <h4>
                                <img src="./assets/img/icon/world-icon-4.png" alt="" />Home Shopping
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>